.box-meal{
    width: 20rem;
    min-height: 22rem;
    
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.203) 0px 7px 29px 0px;
    
    border-radius: 20px;
    padding-bottom: 10px;
    
}

.after-box{
    gap: 10px;
}

.img-food{
    width: 100%;
    height: auto;
    height: 15rem;
    border-radius:20px 20px 0 0 ;
    object-fit: cover;
}

.title-food{
    width: 100%;
    font-size: 1.5em;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 20px;
    margin-top: 5px;
}
li{
    list-style-type: none;
}

.text-ingredient{
    display: flex;
    flex-direction: row;
}

.button-ingredient{
    background-color: orange;
    border: none;
    height: 2rem;
    width: 10rem;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 2s;
    letter-spacing: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-ingredient:hover{
    border: 1px solid orange;
    background-color: white;
    color: orange;
    transition: .5s;
}

@media(max-width:671px){

    .box-meal{
        width: 100%;
        min-height: 19rem;
    }
    
.img-food{
    height: 14rem;
}
    .title-food{
        width: 100%;
        font-size: 1.2em;
    }
    .title-ingredient{
        font-size: 1em;
    }

    .button-ingredient{
        font-size: 0.7em
    }
}